h3 > em {
	font-size: 80%;
}

.footnote {
    font-size: 60%;
    margin-left: 2em;
    line-height: 1.5em;
    width: 90%;
}

/*
img.centred {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
*/

.class-description {
}
