/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
	text-align: justify;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
}

body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    color: #34495e;
}

a:link.pure-menu-heading,
a:link.pure-menu-link {
	color: #7f8c8d;
}

a:visited.pure-menu-heading,
a:visited.pure-menu-link {
	color: #7f8c8d;
}

a:link {
	color: #5882fa;
}

a:hover {
	color: #5858fa;
	text-decoration: none;
}

a:visited {
	color: #5858fa;
}

#judo-logo {
	width: auto;
	max-height: 20px;
	padding-top: 5px;
}

.custom-wrapper {
    background-color: #ddd;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
	font-size: 20px;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#footer {
    background-color: #03244e;
	background-image: linear-gradient(to right, #03244e, #14488f);
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15em;
	padding-top: 3em;
	font-size: 10pt;
}

#footer hr {
	max-width: 80%;
	border: 0;
	height: 1px;
	background-color: #ddd;
	margin-bottom: 1em;
}

#footer p {
	margin: 0;
	padding-left: 1em;
}

#footer * {
	text-align: center;
	color: #ddd;
}

#footer ul {
	margin-bottom: 0;
}

#footer-list li {
	display: inline;
	list-style-type: none;
	padding-right: 2em;
}

@media (max-width: 48em) {
    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }
}
